.root {
    /*position: relative;*/
    display: grid;
    grid-template-areas:
        'main'
        'thumbs';
    grid-template-columns: auto;
    grid-template-rows: auto;
}


@media (min-width: 1024px) {
    .root {
        grid-gap: 1.5rem;
        grid-template-areas: 'thumbs main';
        grid-template-columns: 17fr 80fr;
    }

}

.imageContainer {
    display: grid;
    grid-area: main;
    grid-template-columns: repeat(3, 1fr);
}


.currentImage {
    background-color: rgb(var(--venia-grey));
    border-radius: 2px;
    /*grid-area: main;*/
    width: 100%;
    grid-area: 1/1/2/4;
    /*display: block;*/
}

.chevron-left,
.chevron-right {

    display: flex;
    outline: none;
    z-index:1; 

    /*position: absolute;
    top:50%; 
    transform: translateY(-50%);
    outline: none;*/
}

.chevron-left {
    justify-content: flex-start;
    grid-area: 1/1/2/2;
    margin-left: 1.625rem;
}

.chevron-right{
    justify-content: flex-end;
    margin-right: 1.625rem;
    grid-area: 1/3/2/4;
}
    
@media (min-width: 1024px) {
    .chevron-left,
    .chevron-right {
        display: none;
    }
}